
@{
	ViewBag.Title = "Home";
}

@section Styles {
	<link href="@Url.Content("~/Areas/Calculator/Content/Custom.css")" rel="stylesheet" type="text/css" />
}

@section scripts {
	<script src="~/Scripts/angular.js"></script>
	<script src="~/Areas/Calculator/Scripts/Calculator.js"></script>
	<script src="~/Areas/Calculator/Scripts/CalculatorService.js"></script>
	<script src="~/Areas/Calculator/Scripts/HomeController.js"></script>
}
<div id="calculator" ng-app="calculator">
	<div ng-controller="HomeController">
		<div class="row">
			<div class="col-xs-12">
				<input id="display" type="text" ng-model="display" class="form-control" />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<button ng-click="numClick(7)" class="btn btn-default" >7</button>
			</div>
			<div class="col-xs-3">
				<button ng-click="numClick(8)" class="btn btn-default" >8</button>
			</div>
			<div class="col-xs-3">
				<button ng-click="numClick(9)" class="btn btn-default" >9</button>
			</div>
			<div class="col-xs-3">
				<button ng-click="opClick('/')" class="btn btn-default" >/</button>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<button ng-click="numClick(4)" class="btn btn-default">4</button>
			</div>
			<div class="col-xs-3">
				<button ng-click="numClick(5)" class="btn btn-default">5</button>
			</div>
			<div class="col-xs-3">
				<button ng-click="numClick(6)" class="btn btn-default">6</button>
			</div>
			<div class="col-xs-3">
				<button ng-click="opClick('*')" class="btn btn-default">*</button>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<button ng-click="numClick(1)" class="btn btn-default">1</button>
			</div>
			<div class="col-xs-3">
				<button ng-click="numClick(2)" class="btn btn-default">2</button>
			</div>
			<div class="col-xs-3">
				<button ng-click="numClick(3)" class="btn btn-default">3</button>
			</div>
			<div class="col-xs-3">
				<button ng-click="opClick('-')" class="btn btn-default">-</button>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<button ng-click="numClick(0)" class="btn btn-default">0</button>
			</div>
			<div class="col-xs-3">
				<button ng-click="numClick('.')" class="btn btn-default">.</button>
			</div>
			<div class="col-xs-3">
				<button ng-click="opClick('+')" class="btn btn-default">+</button>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<button ng-click="clearClick()" class="btn btn-default">C</button>
			</div>
			<div class="col-xs-6">
				<button ng-click="execClick()" class="btn btn-default">=</button>
			</div>
		</div>
	</div>
</div>
